<%- include("partials/header") -%>
<h1 style="font-weight: bold">Compose</h1>

<div class="compose">
  <form action="/compose" method="post" class="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" type="text" name="postTitle" />
    </div>
    <div class="form-group">
      <label for="post">Post</label>

      <textarea
        name="newPost"
        id="post"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>

<%- include("partials/footer") -%>
